/* #id .class */
body
{
}
h1
{
  padding-left: 50px;
  font-size: 35px;
  vertical-align: middle;
  margin: 0px;
}
.header
{
  vertical-align: middle;
  background-color: #e0e0e0;
}
.SerachButton
{
  vertical-align: middle;
  display: inline-block;
}
.name
{
  display: inline-block;
}
#title
{
    vertical-align: middle;
  text-align: center;
  display: inline-block;
}
#search
{
  vertical-align: middle;
  padding-left: 10px;
  width: 500px;
  display: inline-block;
}
.searcharea
{
  display: inline-block;
  padding-left: 50px;
}
#thumbnail1
{
}
.videos1
{
  padding-top: 5%;
}
#tumbtext
{
  font-weight: bold;
  text-align: left;
  padding-top: 2%;
}
#creator
{
  font-size: 15px;
  text-align: left;
}
.video-info
{
  font-size: 12px;
}
.veiws
{
  display: inline;
}
.upload-date
{
  padding-left: 5%;
  display: inline;
}
.container
{
  padding-top: 70px;
}
